html, body{
	width: 100%;
	margin: 0;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	color: #212121;
}

body{
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

body *{
	box-sizing: border-box;
}

h1{
	font-size: 30px;
	margin: 20px 0;
	text-transform: uppercase;
	text-align: center;
}

.main_dropdown{
	width: 100%;
	height: 100%;
	position: relative;
}

.center_block{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #448AFF;
	border-radius: 10px;
	padding: 0 50px 50px;
	width: 500px;
	max-width: 90%;
}

.dropdown_input{
	width: 100%;
	height: 30px;
	font-size: 24px;
	background: none;
	border: none;
	color: #212121;
	border-bottom: 2px solid #212121;
}

.dropdown_input:focus{
	outline: none;
}

.dropdown_select{
	width: 100%;
	max-height: 150px;
	overflow-y: scroll;
	position: absolute;
    top: 30px;
}

.dropdown_select.top{
	bottom: 30px;
	top: auto;
}

.dropdown_select_item{
	display: none;
	width: 100%;
	height: 30px;
	margin: 0;
	background-color: #448AFF;
	border: 1px solid #212121;
	font-size: 20px;
	cursor: pointer;
}

.dropdown_select_item.active {
	display: block;
}

.dropdown_select_item:hover{
	background-color: #212121;
    color: #448AFF;
}

.dropdown_select::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.dropdown_select::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

.dropdown_select::-webkit-scrollbar-thumb
{
    background-color: rgba(255, 135, 0, 0.47);
} 

.dropdown_input_block{
	position: relative;
}

.open_dropdown{
	position: absolute;
	width: 20px;
	height: 20px;
	cursor: pointer;
	top: 0;
	right: -30px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	border-right: 4px solid #212121;
	border-bottom: 4px solid #212121;
}

@media screen and (max-width: 500px) {
	.dropdown_input, .dropdown_select_item{
		font-size: 18px;
	}
}








